body{
    height: 100vh;
    width: 100vw;
    background-image: url('images/milky-way-2750627.jpg');
    background-size: cover;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.open-btn{
    width: 120px;
    height: 80px;
    outline: 0;
    border: 5px solid #240086;
    color:#240086;
    background-color: white;
    border-radius: 10%;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    cursor: pointer;
    box-shadow: 0px 0px 80px rgba(153, 151, 151, 0.8);
    transition: all 250ms ease-in-out;
}
.open-btn:hover{
    transform: scale(1.2);


    box-shadow: 0px 0px 80px rgba(255, 255, 255, 0.8);
}


.shield{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.63);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
    
}
.modal{
   
    z-index: 150;
   width: 40vw;
   position: relative;
    height: 40vh;
    background-color: beige;
    text-align: center;
    box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.5);
    padding: 5% 3% 8%;
    background-image: url('images/paper-3155438_1920.jpg');
   
    
}

.modal h1{
    font-family: fantasy;
    margin-bottom: 10px;
  
}
.modal p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: justify;
    text-indent: 5%;
   
}

.modal-btn{
    width: 150px;
    height: 50px;
    border: 4px solid black;
    background-color: rgb(248, 248, 248);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
    padding: 5px 10px;
    display: inline-block;
    position: absolute;
    bottom: 5%;
    left: calc(50% - 75px);
}


/* makes the modal Mobile friendly  */
@media screen and (max-width:718px) {
    
    .modal{
        width: 80vw;
        height: 50vh;
    }
    .modal p {

        height:60%;
        overflow: scroll;
    }
}

/* end of media query */

